@import 'color.scss';

.header{
    background-color: $purpleTronColor;
    div{
        display: flex; 
        align-items: center; 
        img{
            height: 50px;
            margin-right: 0.3rem;
        }
        h1{
            color: white;
            font-weight: 600;
            font-size: 18px;
        }
    }
}